 # Python Fundamentals
 &copy; QuantSprout

### iPython Notebook Magic

#### Short cut keys:

-  comment out a line of code = command + /
-  run block of code = shift + enter
-  autocomplete text = tab
-  help for function = shift + tab
-  view shortcut menu - esc then h

#### Web based viewer for ipython notebooks
http://nbviewer.ipython.org/

### Write your first python program

In [1]:
print 'Hello Data Science'

Hello Data Science

### Numbers in python:

Numeric types: ***int, float,*** and ***bool***.

In [2]:
type(1)

int

In [11]:
type(2.5)

float

In [5]:
type(True)

bool

In [6]:
type('string')

str

### String Insertion
Basic string insertions

In [8]:
"My name is {}".format('Vanessa')

'My name is Vanessa'

In [9]:
name = "Carmen San Diego"
"Where in the world is {}".format(name)

'Where in the world is Carmen San Diego'

You can insert multiple values into strings but requires labels

In [21]:
place = 'SF'
state = 'CA'
"{0} is in {1}, {2}".format(name,place,state)

'Carmen San Diego is in SF, CA'

Try reversing order of the variables name and place.|

In [16]:
"{1} is in {0}".format(place,name)

'Carmen San Diego is in SF'

Try using names in brackets

In [22]:
"{nm} is in {pl}, {st}".format(nm=name, pl=place, st=state)

'Carmen San Diego is in SF, CA'

In [24]:
"1<3{pl}. 1<3{pl}!".format(pl=place)

'1<3SF. 1<3SF!'

### Basic math in python
Some operators are pretty obvious

In [28]:
5+5

10

In [43]:
type(7.0/3) 

# can multiply by 1.0 to turn an integer into a float 
# float(2) returns 2.0
# int(2.5) returns 2.0

float

But some operators are less intuitive

In [37]:
print "Hello " + "World"

Hello World

In [38]:
10 % 4 # modulo (returns the remainder of first divided by second)

2

In [36]:
10**3 # exponent

1000

In [33]:
1E3 + 1E-3 # exponent base 10

1000.001

Assign values to variables

In [44]:
x =10
y=5
z=4

Use math with variables

In [45]:
x-y

5

In [46]:
x*y

50

Try dividing x by z

In [53]:
float(x)/z

2.5

In [54]:
float(x/z)

2.0

Try dividing x by 4.0

In [50]:
x/4.0

2.5

In [55]:
int(x/4.0)

2

### Functions

####Syntax requires 4 things:
-  prefix of 'def'
-  name for function
-  parentheses followed by a colon
-  indented code on the next line

Create a simple function

In [56]:
def simplest_function():
    print "I made a function"
# code associated with a function must be indented 4 spaces (standard)
# that's how Python recognizes it as a function 
# in IPython, tab is 4 spaces and is interchangable - not always true in other programs though

Call function by name

In [57]:
simplest_function()

I made a function

You can create a function that requires an input

In [70]:
def square(x):
    print x**2

In [68]:
square()

9

Functions can also returns a result

In [60]:
def cube(x):
    return x**3

In [63]:
y = cube(5)
print y

125

###Line Continuation

Python recognizes that code lines that end with a comma are incomplete

In [64]:
numbers = [1,2,3,
          4,5,6,
          7,8,9]
# this is a list, has many values, can add with commas and end with a square bracket

You can also use the backslash

In [67]:
long_string = 'This is a really, really, really '\
    + 'long sentence'

print long_string

This is a really, really, really long sentence

### Exercise: Build a Function
#### 1. Create a function that converts Celsius to Fahrenheit.  Results should be accurate to at least one decimal point.

In [72]:
def c2f(C):
    return float(C*(9.0/5)+32)

In [76]:
c2f(-8)

17.6

#### 2. Update your function to return a sentence (string type) with the Celsius and Fahrenheit values inserted into the string.

In [108]:
def c2f(C):
    degrees_f = float(C*(9.0/5)+32)
    print '{0} Celsius is {1} in Fahrenheit'.format(C,"%.2f" % degrees_f)   
    
# degress_f is a local (not global) variable. it doesn't really exist outside of the function
# can make it all one line, but making it more readable is better

In [103]:
c2f(50)

50 Celsius is 122.00 in Fahrenheit

In [88]:
C = -8
F = c2f(C)
print F

17.6

#### Bonus: Update function to display exactly two digits after the decimals

In [90]:
print("%.2f" % F)

17.60

In [107]:
print '{0:.1f} degrees Celsius is {1:.2f} degrees Fahrenheit'.format(C,F)
# using the: after the placeholder number let's you add formatting

-8.0 degrees Celsius is 17.60 degrees Fahrenheit

In [95]:
print '{0} Celsius is {1} in Fahrenheit'.format("%.10f" % C,"%.2f" % F)

-8.0000000000 Celsius is 17.60 in Fahrenheit